body {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(121, 32, 153, 1) 86%);
    background-attachment: fixed;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
  }
  
  #form,
  #form1 {
    width: 300px; /* Reduce the width of the forms */
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 20px; /* Reduce the padding */
  }
  
  h1 {
    text-align: center;
    color: #792099;
  }
  #form button,
  #form1 button {
    background-color: #792099;
    color: white;
    border: 1px solid #792099;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 18px; /* Reduce the font size */
    width: 80%;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-group input {
    border-radius: 5px;
    font-size: 18px; /* Reduce the font size */
    margin-top: 5px;
    padding: 10px;
    border: 1px solid rgb(34, 193, 195);
  }
  
  .input-group input:focus {
    outline: 0;
  }
  
  .input-group .error {
    color: rgb(242, 18, 18);
    font-size: 14px; /* Reduce the font size */
    margin-top: 5px;
  }
  
  .input-group.success input {
    border-color: #0cc477;
  }
  
  .input-group.error input {
    border-color: rgb(206, 67, 67);
  }
  
  .error {
    color: red;
  }