*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(199, 91, 24, 0.65),rgba(166, 204, 14, 0.795)),url(backgroung.png);
    background-size: cover;
    background-position: center;
    
    padding: 10px 8%;
}
nav{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}